/* media query */
@media screen and (min-width:768px){
    html{
        font-size: 20px;
    }

    .media-flex{
        display: flex;
    }

    .media-align{
        align-items: center;
    }

    .media-wrap{
        flex-wrap: wrap;
    }

    .media-text-align{
        text-align: left;
    }

    /* 1st section */

    .first-sect img{
        max-width: 250px;
    }

    .card{
        margin-left: 0.6rem;
        margin-right: 0.6rem;
        height: 87%;
    }

    .col-2{
        flex-basis: 66%;
    }

    .col-1{
        flex-basis: 33%;
    }

    /* 3rd section */
    .third-sect img{
        margin-right: 1rem;
    }

    /* 4th section */
    .half{
        flex-basis: 46%;
    }

    /* 5th section */
    .media-margin{
        margin-left: 2.5rem;
    }

    .fifth-sect h2{
        font-size: 2rem;
    }

    .myimg h2{
        font-size: 5rem;
    }
}